#home{
  #cover{
    padding: 0;

    .section-wrap{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .particles{
      position: absolute;
      left: 0;
      right: 0;
    }

    .code{
      color: #8be9fd;
    }

    .quote{
      color: #f1fa8c;
    }
  }
}

#fp-nav{
  span{
    background: #fff !important;
  }
}
