/*aside*/
.aside{
  position: fixed;
    background: rgba(127, 254, 204,.7);
    height: 50vh;
    top: 50%;
    transform: translate(0,-50%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .3em;
}

.aside a{
  color: rgba(130,130,130);
}

.aside a:hover{
  color: rgba(255,255,255);
}

@media(max-width: 768px){
  .aside{
    display: none;
  }
}
