/*Slide*/
.slide-wrap{
  padding: 0;
}
.slide{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(10,10,10,0.3);
  padding: 1.5em;
  height: 80vh;
}
.perfil{
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.slide-content{
  margin: auto;
}
.slide-content ul{
  padding: 2em 0;
}
.slide-content .header{
  padding: 0 3em;
}
.slide-content .header h1{
  margin: .1em 0
  text-transform: uppercase;
}
.slide-content .header h4{
  font-size: 1.1em;
  font-weight: 300;
}
.slide-content .social{
  text-align: center;
}
.slide-content .social li{
  display:  inline;
}

@media(max-width: 600px){
  .slide{
    border-radius: 0px;
    padding: 1em;
  }
  .slide > div:first-child{
    height: 0px;
    text-align: center;
  }
  .perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translate(0,-78%);
  }
  .slide-content .header{
    padding: 0 1em;
  }
  .slide-content .list{
    padding: 1em 0;
  }
  .slide-content .social{
    padding: 1em 0;
  }
}

