.timeline {
  box-sizing: border-box;
  position: relative;
}
.timeline::after {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  bottom: 0;
  content: '';
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%,0);
  width: 5px;
}
.timeline  .container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding: 1.5em 0;
  position: relative;
}
.timeline  .container > span {
  flex: 1 0 50%;
}
/* The circles on the timeline */
.timeline  .container::after {
  background-color: rgb(0, 127, 89);
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(10,10,10,0.3);
  content: '';
  height: 15px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 15px;
  z-index: 1;
}
.timeline  .container h2{
  color: rgb(100,100,100);
  font-size: x-large;
  font-weight: 300;
}
.timeline .container p{
  color: rgb(50,50,50);
  font-size: larger;
  font-weight: lighter;
}
.timeline .left > * {
  padding: 0 2em;
  text-align: right;
}
.timeline  .right > * {
  padding: 0 2em;
  text-align: left;
}
