{% for section in site.data.sections[page.id] %}

  {% if section.component == nil %}
    {% assign component = section.name%}
  {% else %}
    {% assign component = section.component%}
  {% endif%}

  {% if section.path != nil %}
    {% assign path = section.path%}
  {% else %}
    {% assign path = 'sections'%}
  {% endif%}

  <section id="{{ section.name }}" class="section fp-auto-height-responsive pr-3 pr-sm-0">
    <div class="section-wrap {% if section.container == nil or section.container %} container{% endif %}">

      {% include layout/section_header.html  info=section %}

      {%unless  section.no_component != nil and section.no_component  %}
        {% include {{path}}/{{component}}.html info=section %}
      {% endunless %}
    </div>
  </section>

{% endfor %}
